<!DOCTYPE html>
<html>
<head>
	<title>Create New Advertisement</title>
</head>
<body>
	<div class="container">
	<h1> Add new Advertisement</h1>
	<button class="btn btn-outline-primary"><%=	 link_to 'Add new instrument',new_instrument_path %></button>
	<br>
	<br>
	<%= bootstrap_form_with scope: :farmer_instrument, url: farmer_instruments_path,local: true do |form| %>
	<p>
    <%# <%= form.label :farmer_id %>
    <%= form.hidden_field :farmer_id, :value =>current_farmer.id  %>
  </p>
	<p>
	<%= form.select(:instrument_id, Instrument.all.collect{|f| [f.name,f.id]}, :prompt => "Select Instrument") %>
	</p>
  <p>
    <%# <%= form.label :rent_per_hour %>
    <%= form.text_field :rent_per_hour %>
  </p>
	<p>
    <%# <%= form.label :is_available_true %>
    <%= form.hidden_field :is_available, :value =>true %>
  </p>
  <p>
    <%# <%= form.label :deposit %>
    <%= form.text_field :deposit %>
  </p>
 	<p>
    <%# <%= form.label :available_from %><br>
    <%= form.date_field :available_from %>
  </p>
  <p>
    <%# <%= form.label :available_to %><br>
    <%= form.date_field :available_to %>
  </p>

  <p>
    <%= form.submit %>
  </p>
	<% end %>
	</div>
</body>
</html>
