<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<body>
<div class="container">
	<h1 text-align: center;>Instruments</h1>
	<br>
	<button><%=	 link_to 'Add new Instrument',new_instrument_path %></button>
	<br>
	<br>
	<table class="table table-hover">
		<tr>
			<th>Name</th>
			<th>Brand</th>
			<th>Specification</th>
			<th>Edit Record</th>
			<th>View</th>
			<th>Delete Record</th>
		</tr>

		<% @instruments.each do |instrument_entry| %>
			<tr>
				<td><%= instrument_entry.name %></td>
				<td><%= instrument_entry.brand %></td>
				<td><%=  instrument_entry.specification%></td>
				<td><%=	 link_to 'Edit',edit_instrument_path(instrument_entry.id) %></td>
				<td><%=	 link_to 'View',instrument_path(instrument_entry.id) %></td>
				<td><%= link_to 'Delete Advertisement', instrument_path(instrument_entry.id),method: :delete,data: { confirm: 'Are You sure?' } %></td>
			</tr>
		<% end %>
	</table>
</div>
</div>
</body>
</html>
